{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "@imaginary-cloud/react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [ "react" ]
}
