.row {
  display: flex;

  .cell {
    width: 8px;
    height: 8px;
    background: red;
    border: 1px solid blue;
    flex-shrink: 0;

    // Allows us to do data-size="20" to get 20px x 20px cells
    @for $size from 1 through 30 {
      [data-size="#{$size}"] & {
        width: #{$size}px;
        height: #{$size}px;
      }
    }

  }
}

