header {
  .page-title {
    margin: 0;
  }
}

main {
  overflow: scroll;
}

footer {
  .footer-contents {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .credits {
    font-size: 0.7rem;
    align-self: flex-end;
  }
}
